.home-page {
  padding: 20px 40px;
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.search-input {
  width: 350px;
  max-width: 90%;
}

.video-count {
  text-align: center;
  margin-bottom: 25px;
}

.video-grid {
  display: grid;

  grid-template-columns:
    repeat(
      auto-fit,
      minmax(320px, 1fr)
    );

  gap: 25px;
}